@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 9, 10, 19;
    --background-end-rgb: 37, 53, 88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 9, 10, 19;
      --background-end-rgb: 37, 53, 88;
      --base-green-rgb: 98, 219, 175, 0.69;
        --faded-green-rgb: 98, 219, 175, 0.21;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.NavbarFade {
  background: linear-gradient(150deg, rgba(98, 219, 175, 0.69) 7%, rgba(98, 219, 175, 0.69) 50%, rgba(249, 249, 249, 0.00) 85%);
}

.BannerFadeLeft {
  background: linear-gradient(150deg, rgba(var(--faded-green-rgb)) 7%, rgba(var(--faded-green-rgb)) 40%, rgba(249, 249, 249, 0.00) 75%); 
}

.BannerFadeRight {
  background: linear-gradient(210deg, rgba(var(--faded-green-rgb)) 7%, rgba(var(--faded-green-rgb)) 40%, rgba(249, 249, 249, 0.00) 75%);
}